body {
    font-family: 'Courgette', cursive;
    text-shadow: 1px .5px #B1A9B7;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.9) 60%, rgba(255,140,0, 1) 0%);
    text-align: center;
    background-repeat: no-repeat;
}
nav {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
    text-align: center
}

ul img {
    width: 30px
}

img {
    max-width: 100%;
    padding: 1%;
}

#profile {
    border-radius: 50%;
    max-width: 200px;
    margin: 1%;
}

#topRow {
    padding-bottom: .5%;
}

#bottomRow {
    background: linear-gradient(-45deg, rgba(55, 230, 235, 1) 65%, rgba(255, 255, 255, 0) 0%);
    padding-top: 60px;
}

#intro {
    font-size: 35px;
    padding-bottom: 1%
}
#resumePic {
    max-width: 75%;
}
#invite {
    display: flex;
    justify-content: center;
    align-items: center;
}
#state {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projText {
    font-size: 25px;
    display : flex;
    justify-content: center;
    align-items: center;

}
.modalPic:hover {
    cursor: pointer;
}
li.active a{
    color: rgb(255,140,0) !important;
}